{% extends 'plagDetector/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet"  type="text/css" href="{% static './style.css' %}">
<script src="{% static './customscripts.js'  %}"></script>



        <!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signinmodal">
        Login
      </button>
    </form>
    &nbsp;
    <form class="form-inline my-2 my-lg-0">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signupmodal">
        SignUp
      </button>
    </form>
  </div>
</nav>
 <!-- end navbar -->

<!-- start signin modal -->
<div class="modal fade" id="signinmodal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title-login" id="loginModalLabel">Sign in</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="loginInputEmail1">Email address</label>
          <input type="email" class="form-control" id="loginInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="loginInputPassword1" placeholder="Password">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="loginCheck1">
          <label class="form-check-label" for="logineCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<!-- end modal -->

<!-- start signup modal -->
<div class="modal fade" id="signupmodal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title-signup" id="signupModalLabel">Sign up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="signupInputEmail1">Email address</label>
          <input type="email" class="form-control" id="signupInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="signupInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Confirm Password</label>
          <input type="password" class="form-control" id="signupInputPassword2" placeholder="Confirm Password">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="signupCheck1">
          <label class="form-check-label" for="signupeCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<!-- end modal -->


<br>  
   
 <div class="container">
   <div class="d-flex justify-content-center py-1" style="color: rgb(255, 255, 255); background-color: rgb(146, 96, 189);">
       Sameple Test of Plagarism over two text
     </div>

      <!-- compare form staart -->
      <form method="POST" action="/search">
        {% csrf_token %}
    <div class="row">
      <div class="col-sm border pb-3">
        <label for="textarea1">textarea 1</label>
        <textarea class="form-control" id="testarea1" name="text1"  rows="5"></textarea>
      </div>
      <div class="col-sm border" >
        <label for="testarea2">textarea 2</label>
    <textarea class="form-control" id="testarea2" name="text2" rows="5"></textarea>
      </div>
    </div>
    <div class="d-flex justify-content-center py-1">
      <button type="submit" class="btn btn-success">Test</button>
    </div>
      </form>
 </div>
    


 {% for item in navigation %}
       <p>{{item}}</p>
{% endfor %}







<!-- drag and drop file code starts -->
    <!-- UPLOAD FILES CODE HERE  -->
<div class="container">
  <p>Upload Files</p>
  <div class="container p-3 d-flex justify-content-center border">

    <form method="POST" enctype="multipart/form-data">
    <div class="custom-file">
      <!-- <input type="file" class="custom-file-input" id="file" multiple onchange="javascript:updateList()">
      <label class="custom-file-label" for="file">
        <img width="30" src="https://image.flaticon.com/icons/svg/54/54565.svg" /> Upload Files</label>
 -->
          {% csrf_token %}
          <input type="file" name="document" multiple class="custom-file-input" id="file" onchange="javascript:updateList()">
          <label class="custom-file-label" for="file">
          <img width="30" src="https://image.flaticon.com/icons/svg/54/54565.svg" /> Upload Files</label>
 
    </div>

    <div>
      <ul id="fileList" class="file-list"></ul>
    </div>

      <button type="submit" class="btn btn-dark">Upload Files</button>
      </form>
  
  </div>
</div>

 <!-- UPLOAD CODE ENDS -->
<!-- drag and drop file code ends  -->


    

















{% endblock content %}