{% extends 'plagDetector/main.html' %}
{% load static %}
{% block content %}

{% if notAuth %}
<section class="section coming-soon" data-section="section3">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="left-content">
          <div class="top-content">
            <h6>Register your free account and <em>get immediate</em> access to the plagiarism checker</h6>
          </div>
          <form method="POST" id="contact" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-12">
                <fieldset>
                  <input name="username" type="text" class="form-control" id="name" placeholder="user Name" required="">
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" required="">
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <input name="password" type="password" class="form-control" id="phone-number" placeholder="password"
                    required="">
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="button">Sign Up</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-1"><em> </em> </div>
      <div class="col-md-5">
        <div class="right-content">
          <div class="top-content">
            <h6>Login into your account and <em>get immediate</em> access to our plagiarism checker</h6>
          </div>
          <form id="contact" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="row">

              <div class="col-md-12">
                <fieldset>
                  <input name="email" type="email" class="form-control" id="email" placeholder="Your Email" required="">
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <input name="password" type="password" class="form-control" id="phone-number" placeholder="password"
                    required="">
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="button">Login</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>
{% endif %}




{% comment %} result section starts {% endcomment %}
{% if show %}

<section class="section coming-soon" data-section="section4">
  <div class="container">
    <h1 style="color: white;"> Results</h1>
    <br><br><br>
    <h2 style="color: white;">Similarity Matrix</h2>

    <table style="overflow-y:scroll;
    height: 75%;
    display:block;
    overflow-x: scroll;
    padding: 10px;
 ">
      {% for x in result %}
      <tr>
        <h1 style="color: white;">
          {% for y in x %}
          <td style="color: white; border: 2px solid white; padding: 5px;">
            {{y}}
          </td>
          {% endfor %}
        </h1>
      </tr>
      {% endfor %}
    </table>
    <br>
    <br>
    {% comment %} plagarized matches {% endcomment %}
    <h2 style="color: white;">Matching Assignments</h2>
    <table style="overflow-y:scroll;
              height: 75%;
              display:block;
              overflow-x: scroll;
              padding: 10px;
          ">
      {% for x in plag_list %}
      <tr>
        <h1 style="color: white;">
          {% for y in x %}
          <td style="color: white; border: 2px solid white; padding: 5px;"">
                {{y}}
              </td>
              {% endfor %}
            </h1>
          </tr>
          {% endfor %}
        </table>

        <br>
        <br>
        {% comment %} List of students above given threshold of plagiarism {% endcomment %}
        <h2 style=" color: white;">List of students above given threshold of plagiarism</h2>
            <table style="overflow-y:scroll;
                  height: 75%;
                  display:block;
                  overflow-x: scroll;
                  padding: 10px;
              ">
              {% for x in names %}
              <tr>
                <h1 style="color: white;">

                  <td style="color: white; border: 2px solid white; padding: 5px;"">
                    {{x}}
                  </td>
                
                </h1>
              </tr>
              {% endfor %}
            </table>


  </div>
</section>

<section class=" section courses" data-section="section5">
                    <div class="container-fluid">
                      <div class="section-heading">
                        <a href="{% url 'generate_email' user_ass %}">
                          <h2 class="bg-warning">Generate Report</h2>
                        </a>

                      </div>

                    </div>
</section>

{% endif %}
{% comment %} result section ends here {% endcomment %}





<!-- upload assignment files -->

<section class=" section coming-soon" data-section="section4">
  <div class="container">

    <div class="row">
      <div class="col-md-5">
        <div class="left-content">
          <div class="top-content">
            <h6>Create Assignment</h6>
          </div>
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-12">
                <fieldset>
                  <input name="assignment_name" type="text" class="form-control" id="assignment_name"
                    placeholder="Assignment Title" required="true">
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <input name="percentage_" type="number" class="form-control" id="percentage_"
                    placeholder="Minimum % plagiarism" min="0" max="100" step="0.01" required="true">
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>

                  <input type="file" name="document" required='true' style="background-color: rgb(24, 14, 89);
                  opacity: 50%;
                color: white;
                padding: 0.5rem;
                font-family: sans-serif;
                border-radius: 0.3rem;
                cursor: pointer;
                margin-top: 1rem;" multiple />

                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="button">Upload Files</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</section>




{% comment %}

<section class="section contact" data-section="section7">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Let’s Keep In Touch</h2>
        </div>
      </div>
      <div class="col-md-12">

        <!-- Do you need a working HTML contact-form script?
                	
                    Please visit https://templatemo.com/contact page -->

        <form id="contact" action="" method="post" class="center">
          <div class="row-center">
            <div class="col-md-6">
              <fieldset>
                <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required="">
              </fieldset>
            </div>
            <div class="col-md-6">
              <fieldset>
                <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" required="">
              </fieldset>
            </div>
            <div class="col-md-12">
              <fieldset>
                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..."
                  required=""></textarea>
              </fieldset>
            </div>
            <div class="col-md-12">
              <fieldset>
                <button type="submit" id="form-submit" class="button">Send Message Now</button>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section> {% endcomment %}


{% endblock content %}


<script>
  function find_color(g) {
    console.log(g);
    g = 30;
    var n = document.getElementById("percentage_").value;

    if (x == NaN)
      return "transparent";
    if (x == 0 && n == 0) {
      return "green";
    }
    if (x >= n) {
      return "red";
    }
    if (x <= n / 2) {
      return "green";
    }
    return "yellow";
  }
</script>