{% extends 'plagDetector/main.html' %}
{% load static %}
{% block content %}


<section class="section why-us" data-section="section2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>The algorithms that we use </h2>
        </div>
      </div>
      <div class="col-md-12">
        <div id='tabs'>
          <ul>
            <li><a href='#tabs-1'>Cosine Similarity Measure
              </a></li>
            <li><a href='#tabs-2'>Jaccard Similarity Measure</a></li>
            <li><a href='#tabs-3'> Longest Common Substring</a></li>
          </ul>
          <section class='tabs-content'>
            <article id='tabs-1'>
              <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6">
                  <h4>Cosine Similarity</h4>
                  <p>Cosine Similarity is basically used to measure how two documents are similar irrespective of their
                    sizes. A metric is used to measure the similarity between two documents. A metric can consist of
                    strings, arrays and value objects in a coded algorithm. It measures the cosine of the angle between
                    two vectors in a 2D multidimensional space. The main advantage of this method is it can conclude
                    that two documents can be oriented together even if they're far apart because of size
                    irregularities. Like the other techniques stated above, the result value of cosine similarity ranges
                    between 0 and 1. The similarity percentage is less if the cosine angle is big and high when the
                    angle is small.
                  </p>
                </div>
              </div>
            </article>
            <article id='tabs-2'>
              <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6">
                  <h4>The Jaccard distance</h4>
                  <p>The Jaccard distance is also known as Tanimoto coefficient. This measures similarity as the
                    intersection divided by the union of the documents. The Jaccard coefficient compares the sum weight
                    of shared terms to the sum weight of terms that are present in either of the two documents but are
                    not the shared terms. The range of the similarity measure for the Jaccard coefficient is between 0
                    and 1.
                  </p>
                </div>
              </div>
            </article>
            <article id='tabs-3'>
              <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6">
                  <h4>longest common substring</h4>
                  <p>Another Dynamic Programming (DP) approach considered in this proposed similarity detection engine
                    after Levenshtein distance is the longest common substring (LCS) for assuring string similarity
                    without any resulting numerical value. Being a DP implementation, this algorithm has a time
                    complexity of O(nm) where space is utilized more than time. The definition of LCS is simple as it
                    identifies a substring in's 1' and checks for the same in's 2'. The algorithm also has the
                    functionality of keeping track of the substring's maximum length and displaying it on the console.
                  </p>
                </div>
              </div>
            </article>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
{% if notAuth %}
<section class="section coming-soon" data-section="section3">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="left-content">
          <div class="top-content">
            <h6>Register your free account and <em>get immediate</em> access to the plagiarism checker</h6>
          </div>
          <form method="POST" id="contact" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-12">
                <fieldset>
                  <input name="username" type="text" class="form-control" id="name" placeholder="user Name" required="">
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" required="">
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <input name="password" type="password" class="form-control" id="phone-number" placeholder="password"
                    required="">
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="button">Sign Up</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-1"><em> </em> </div>
      <div class="col-md-5">
        <div class="right-content">
          <div class="top-content">
            <h6>Login into your account and <em>get immediate</em> access to our plagiarism checker</h6>
          </div>
          <form id="contact" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="row">

              <div class="col-md-12">
                <fieldset>
                  <input name="email" type="email" class="form-control" id="email" placeholder="Your Email" required="">
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <input name="password" type="password" class="form-control" id="phone-number" placeholder="password"
                    required="">
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="button">Login</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>
{% endif %}




{% comment %} result section starts {% endcomment %}
{% if show %}

<section class="section coming-soon" data-section="section4">
  <div class="container">
    <h1 style="color: white;"> Results</h1>
    <br><br><br>
    <h2 style="color: white;">Heat Map</h2>

    <table style="overflow-y:scroll;
    height: 75%;
    display:block;
    overflow-x: scroll;
    padding: 10px;
 ">
      {% for x in result %}
      <tr>
        <h1 style="color: white;">
          {% for y in x %}
          <td style="color: white; border: 2px solid white; padding: 5px;">
            {{y}}
          </td>
          {% endfor %}
        </h1>
      </tr>
      {% endfor %}
    </table>
    <br>
    <br>
    {% comment %} plagarized matches {% endcomment %}
    <h2 style="color: white;">Matching Assignments</h2>
    <table style="overflow-y:scroll;
              height: 75%;
              display:block;
              overflow-x: scroll;
              padding: 10px;
          ">
      {% for x in plag_list %}
      <tr>
        <h1 style="color: white;">
          {% for y in x %}
          <td style="color: white; border: 2px solid white; padding: 5px;"">
                {{y}}
              </td>
              {% endfor %}
            </h1>
          </tr>
          {% endfor %}
        </table>

        <br>
        <br>
        {% comment %} List of students above given threshold of plagiarism {% endcomment %}
        <h2 style=" color: white;">List of students above given threshold of plagiarism</h2>
            <table style="overflow-y:scroll;
                  height: 75%;
                  display:block;
                  overflow-x: scroll;
                  padding: 10px;
              ">
              {% for x in names %}
              <tr>
                <h1 style="color: white;">

                  <td style="color: white; border: 2px solid white; padding: 5px;"">
                    {{x}}
                  </td>
                
                </h1>
              </tr>
              {% endfor %}
            </table>


  </div>
</section>

<section class=" section courses" data-section="section5">
                    <div class="container-fluid">
                      <div class="section-heading">
                        <a href="/generateReport">
                          <h2 class="bg-warning">Generate Report</h2>
                        </a>

                      </div>

                    </div>
</section>

{% endif %}
{% comment %} result section ends here {% endcomment %}





<!-- upload assignment files -->

<section class=" section coming-soon" data-section="section4">
  <div class="container">

    <div class="row">
      <div class="col-md-5">
        <div class="left-content">
          <div class="top-content">
            <h6>Create Assignment</h6>
          </div>
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-12">
                <fieldset>
                  <input name="assignment_name" type="text" class="form-control" id="assignment_name"
                    placeholder="Assignment Title" required="true">
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <input name="percentage_" type="number" class="form-control" id="percentage_"
                    placeholder="Minimum % plagiarism" min="0" max="100" step="0.01" required="true">
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>

                  <input type="file" name="document" required='true' style="background-color: rgb(24, 14, 89);
                  opacity: 50%;
                color: white;
                padding: 0.5rem;
                font-family: sans-serif;
                border-radius: 0.3rem;
                cursor: pointer;
                margin-top: 1rem;" multiple />

                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="button">Upload Files</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</section>




{% comment %}

<section class="section contact" data-section="section7">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Let’s Keep In Touch</h2>
        </div>
      </div>
      <div class="col-md-12">

        <!-- Do you need a working HTML contact-form script?
                	
                    Please visit https://templatemo.com/contact page -->

        <form id="contact" action="" method="post" class="center">
          <div class="row-center">
            <div class="col-md-6">
              <fieldset>
                <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required="">
              </fieldset>
            </div>
            <div class="col-md-6">
              <fieldset>
                <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" required="">
              </fieldset>
            </div>
            <div class="col-md-12">
              <fieldset>
                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..."
                  required=""></textarea>
              </fieldset>
            </div>
            <div class="col-md-12">
              <fieldset>
                <button type="submit" id="form-submit" class="button">Send Message Now</button>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section> {% endcomment %}


{% endblock content %}


<script>
  function find_color(g) {
    console.log(g);
    g = 30;
    var n = document.getElementById("percentage_").value;

    if (x == NaN)
      return "transparent";
    if (x == 0 && n == 0) {
      return "green";
    }
    if (x >= n) {
      return "red";
    }
    if (x <= n / 2) {
      return "green";
    }
    return "yellow";
  }
</script>